{
  "swagger" : "2.0",
  "info" : {
    "description" : "HeySteimkeBase REST API",
    "version" : "1.0.0",
    "title" : "HeySteimkeBase",
    "contact" : {
      "email" : "marius.schlueter@intecelektro.de",
      "name" : "Marius Schlueter"
    }
  },
  "host" : "rkp.intecelektro.de:30000",
  "basePath" : "/api",
  "schemes" : [ "http", "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "definitions" : {
    "Item" : {
      "properties" : {
        "id" : {
          "type" : "integer",
          "description" : "Identifier",
          "example" : 123
        },
        "state" : {
          "type" : "string",
          "enum" : [ "created", "assigned", "inprogress", "finished", "paused", "aborted" ],
          "description" : "State",
          "example" : "created"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of Item",
          "example" : "Abwaschen"
        },
        "shortdesc" : {
          "type" : "string",
          "description" : "Short description for item",
          "example" : "Abwaschen in der Kueche"
        },
        "desc" : {
          "type" : "string",
          "description" : "Detailed Itemdescription",
          "example" : "Abwaschen aller Toepfe und Spuelmaschine einraumen"
        },
        "creatorId" : {
          "type" : "integer",
          "description" : "ID of creator of this item",
          "example" : 321
        },
        "assignedId" : {
          "type" : "integer",
          "description" : "ID of assigned person for this item",
          "example" : 213
        },
        "priority" : {
          "type" : "integer",
          "description" : "priority of this item",
          "example" : 50
        },
        "workload" : {
          "type" : "integer",
          "description" : "workload for this item",
          "example" : 30
        },
        "placeid" : {
          "type" : "integer",
          "description" : "id of place or category",
          "example" : 10
        }
      },
      "required" : [ "id" ]
    }
  },
  "paths" : {
    "/ping" : {
      "get" : {
        "operationId" : "ping",
        "summary" : "check if server alive",
        "responses" : {
          "200" : {
            "description" : "some answer",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/items" : {
      "get" : {
        "operationId" : "getAvaiIds",
        "summary" : "Returns ids of existing items",
        "responses" : {
          "200" : {
            "description" : "Successfully returning array of existing ids",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "integer"
              }
            }
          }
        }
      }
    },
    "/item/{id}" : {
      "get" : {
        "operationId" : "getItem",
        "summary" : "Returns Specific item by id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "integer",
          "description" : "Id of item to get",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Found item and returning it",
            "schema" : {
              "$ref" : "#/definitions/Item"
            }
          },
          "404" : {
            "description" : "Item not found"
          }
        }
      },
      "put" : {
        "operationId" : "replaceItem",
        "summary" : "Replace existing item",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "description" : "Id of item to get"
        }, {
          "name" : "item",
          "in" : "body",
          "required" : true,
          "description" : "Item to replace",
          "schema" : {
            "$ref" : "#/definitions/Item"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "404" : {
            "description" : "Item not found"
          }
        }
      },
      "delete" : {
        "operationId" : "deleteItem",
        "summary" : "Remove Item",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "integer",
          "description" : "Id of item to get",
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "404" : {
            "description" : "Item not found"
          }
        }
      }
    },
    "/item" : {
      "post" : {
        "operationId" : "addItem",
        "summary" : "Add Item",
        "parameters" : [ {
          "name" : "item",
          "in" : "body",
          "required" : true,
          "description" : "Item to add",
          "schema" : {
            "$ref" : "#/definitions/Item"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        }
      }
    }
  }
}